@page "/image"

<div class="d-flex">
    <MudImage 
        Fluid="true" 
        Src="@ImageLoc" 
        Alt="@AltText" 
        ObjectFit="@ObjectFit.Contain" 
        Class="@Classes" />
</div>

@code {
    [Parameter]
    public string ImageLoc { get; set; }
    [Parameter]
    public string? AltText { get; set; }
    [Parameter]
    public string? Classes{ get; set; }
}
